* {
    margin: 0 auto;
}

body {
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}


.content-div {
    max-width: 400px;
    top: 45px;
    display: none;
    padding: 10px 25px;
}



.visible {
    display: block;
}

.tabs {
    align-items: center;
    width: 500px;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
}


.buttons {
    background-color: #dddddd;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.description {
    color: #E0E0E0;
    font-weight: 600;
}

.heading {
    padding: 5px 0;
    font-size: 24px;
    color: #fff;
}